<a href="https://colab.research.google.com/github/natepearsall/git-test/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [1]:
# Write a snippet of code that displays the data type (class) of `s
type(s)

NameError: ignored

In [2]:
# Write a snippet of code that adds `x` and `y` and displays their sum.
x + y == run
print(run)

SyntaxError: ignored

In [3]:
# How might you transform z into a boolean value, if you had to? Be creative.
z == false

NameError: ignored

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [ ]:
# Write a snippet of code that prints out "Tempe"
print(2)

In [ ]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.
mylist.append("Atlanta")

In [ ]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".
print(1,2,3)

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [ ]:
# Write a snippet of code that returns "Trenton".
mydict["NJ"]

In [ ]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.
mydict.update({'CO':'Denver'})

In [ ]:
# Write a snippet of code that returns all the keys in `mydict`
print(mydict)

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [ ]:
# Write a snippet of code that prints the data type of the elements in the array.
myNumbers[2,3,5,7,11,13,17,19,23,29,31,37]
print(myNumbers)

In [ ]:
# Write a snippet of code that displays `11` from the array.
print.myNumber(4)

In [ ]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.
myNumber *=7